main{
    display: flex;
    justify-content: center;
}

.contenedor{
    max-width: 1100px;
}

.descktop{
    display: flex;
}

.descktop a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.descktop span{
    color: black;
}

.b-dibujo{
    display: none;
}

.b-enlace{
    display: flex;
    width: 250px;
    font-size: 1.8rem;
    color: red;
}

.header-botones{
    height: 30px;
    width: 210px;
    position:absolute;
    right: 35px;
    top: 20px;
    display: flex;
    align-items: center;
}

.sign-in h4{
    color: red;
    font-size: 1.6rem;
}

.suscribirse{
    width: 150px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e90606;
    border-radius: 5px;
    color: seashell;
    font-size: 1.4rem;
    margin-left: 10px;
}