*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    display: flex;
    justify-content: center;
    max-height: 64px;
}

.logo{
    margin: 16px;
    width: 9rem;
}

.barras{
    margin: 22px 24px;
    width: 20px;
    position: absolute;
    left: 0%;
}

.portada img{
    width: 100%;
}

.portada{
    position: relative;
    left: 0;
}

.credito{
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

hr{
    height: 2px;
    width: 30%;
}

.titulo a{
    color: red;
    margin:0 15px;
    font-size: 1.2rem;
    text-decoration: none;
}

.titulo-2{
    display: flex;
    justify-content: center;
    margin: 0 16px;
}

.titulo-2 a{
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    text-align: center;
}

.sub-titulo{
    display: flex;
    justify-content: center;
    margin: 20px 16px;
}

.sub-titulo p{
    font-size: 1.8rem;
    text-align: center;
    color: darkgray;
}

.flecha{
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}

.flecha a img{
    width: 45px;
}

.galeria{
    min-height: 300px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    padding: 20px 0;
}

.titulo-galeria{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-galeria h2{
    margin: 18px 16px;
    color: red;
    font-size: 1.9rem;
    text-align: center;
}

.titulo-galeria hr{
    height: 2px;
    width: 25%;
}

.imagenes-galeria{
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foto-x{
    width: 100px;
    margin: 0 16px;
}

.imagenes-galeria figure img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid #222222 1PX;
    padding: 5px;

}

.adorno{
    width: 30px;
    position: relative;
    left: 35%;
    bottom: 20px;
    background-color: rgb(233, 233, 233);
    border-radius: 50%;
}

.imagenes-galeria a{
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
}

.galeria-2{
    margin: 32px 0;
    min-height: 800px;
}

.galeria-2 img{
    width: 100%;
    padding: 0 16px;
}

.ga-2-foto{
    margin: 16px;
}

.ga-2-foto figure p{
    margin: 0 16px;
    text-align: end;
    color: darkgray;
    font-size: 1rem;
}

.ga-2-foto a{
    text-decoration: none;
    color: black;
}

.ga-2-foto h2{
    margin: 32px 20px;
    font-size: 2.2rem;
}

.ga-2-foto p{
    margin: 0 20px;
    font-size: 1.7rem;
    color: rgb(87, 87, 87);
}

.figuras-mapa{
    height: 300px;
}

.mapamundi h3{
    text-align: center;
    font-size: 2.5rem;
    margin: 32px;
}

.mapas{
    display: flex;
    justify-content: center;
}

.mapa{
    margin: 16px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: black 1px solid;
}

.mapa figure{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa figure img{
    width: 120px;
}

.mapa-adorno{
    position: relative;
    width: 25px;
    margin-top: -15px;
    left: 60px;
    background-color: rgb(255, 255, 255);
}

.mapa h4{
    text-align: center;
    font-size: 2rem;
    
}

.tabla{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
}

.fila{
    height: 60px;
}

.c1{
    width: 80px;
    text-align: start;
    padding:0 14px;
}

.c2{
    text-align: start;
    padding:0 14px;
    color: rgb(105, 105, 105);
}

.c3{
    text-align: end;
    padding: 0 14px;
    color: rgb(105, 105, 105);
}

.tabla table{
    width: 320px;
    font-size: 1.5rem;
}

.f1{
    background-color: #f0f1f2;
    border-radius: 15%;
}

.verde{
    color: rgb(64, 146, 92);
}

.rojo{
    color: rgb(221, 48, 48);
}