*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    display: flex;
    justify-content: center;
    max-height: 64px;
}

.logo{
    margin: 16px;
}

.barras{
    margin: 22px 24px;
    width: 20px;
    position: absolute;
    left: 0%;
}

.portada{
    display: flex;
    justify-content: center;
}